<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form method="post">
    <h1>Please, log in</h1>
    <input type="text" placeholder="Input telegram" id="username" name="username">
    <input type="password" placeholder="Input password" id="password" name="password">
    <button type="submit">Sign in</button>
</form>
<form method="get" action="/registration" class="reg">
    <button type="submit">create account</button>
</form>
</body>
</html>