<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>
<form method="post">
    <h1>Пожалуйста, войдите в систему</h1>
    <input type="text" placeholder="Введите телеграм" id="username" name="username">
    <input type="password" placeholder="Введите пароль" id="password" name="password">
    <button type="submit">Войти</button>
</form>
<form method="get" action="/registration">
    <button type="submit">Создать аккаунт</button>
</form>
</body>
</html>