<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Бронирование</title>
</head>
<body>
<div>
    <div>
        <form method="get" action="/logout">
            <button type="submit">Выйти</button>
        </form>
    </div>
    <div>
        <form method="get" action="/user/info">
            <button type="submit">Мой профиль</button>
        </form>
    </div>
    <div>
        <form method="post">
            <h1>Новое бронирование</h1>
            <p>
                <label for="table">Выберите столик:</label>
                <select id="table" name="table">
                    <option th:each="table : ${tables}" th:value="${table.getId()}"
                            th:text="'Столик номер: ' + ${table.getId()} + ' с количеством мест: ' + ${table.getNumberOfSeats()}">

                    </option>
                </select>
            </p>
            <p><input type="date" placeholder="выберите дату" name="date"></p>
            <p><input type="time" placeholder="выберите время" name="time"></p>
            <p><input type="number" placeholder="Введите количество мест" name="numberOfSeats"></p>
            <p><textarea name="comment" cols="40" rows="3"></textarea></p>
            <button type="submit">Забронировать</button>
        </form>
    </div>
    <form method="get" action="/restaurant/show">
        <button type="submit">Перейти к списку рестаранов</button>
    </form>
</div>
</body>
</html>