<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<form method="post">
    <h1>Регистрация</h1>
    <input type="text" placeholder="Введите имя" name="name">
    <input type="text" placeholder="Введите телеграм" name="telegram">
    <input type="password" placeholder="Введите пароль" name="password">
    <button type="submit">Зарегистрироваться</button>
</form>
<form method="get" action="/login">
    <button type="submit">Войти</button>
</form>
</body>
</html>