<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Рестораны</title>
    <link href="../static/css/style.css" media="all" rel="stylesheet"
          th:href="@{/css/style.css}" type="text/css"/>
</head>
<body>
<div>
    <h1>Рестораны</h1>
    <table>
        <thead>
        <tr>
            <th>Адрес</th>
            <th>Администратор</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="restaurant : ${restaurants}">
            <td th:text="${restaurant.getAddress()}"></td>
            <td th:text="${restaurant.getAdmin().getName()}"></td>
            <td>
                <div>
                    <form method="get" th:action="@{|/reservation/${restaurant.getId()}|}">
                        <button type="submit">Забронировать столик</button>
                    </form>
                </div>
            </td>
            <td>
                <div>
                    <form method="get" th:action="@{|/restaurant/${restaurant.getId()}|}">
                        <button type="submit">Посмотреть комментарии</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>