<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ваши бронирования</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Номер столика</th>
        <th>Адрес ресторана</th>
        <th>Дата</th>
        <th>Время</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reservation : ${reservations}">
        <td th:text="${reservation.getTable().getId()}"></td>
        <td th:text="${reservation.getTable().getRestaurant().getAddress()}"></td>
        <td th:text="${reservation.getDateTime()}"></td>
        <td th:text="${reservation.getTime()}"></td>
    </tr>
    </tbody>
</table>
<form method="post" action="/logout">
    <button type="submit">Выйти</button>
</form>
<form method="get" action="/restaurant/show">
    <button type="submit">Перейти к списку рестаранов</button>
</form>
</body>
</html>