<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Панель модератора</title>
</head>
<body>
<form method="get" action="/logout">
    <button type="submit">Выйти</button>
</form>
<table>
    <tr>
        <th>Имя</th>
        <th>Телеграм</th>
        <th>Роль</th>
    </tr>
    <tr th:each="user: ${users}">
        <td th:text="${{user.getName()}}"/>
        <td th:text="${{user.getTelegram()}}"/>
        <td th:text="${{user.getRole().getName()}}"/>
        <td>
            <div>
                <form method="get" th:action="@{|/moder/${user.getTelegram()}/delete|}">
                    <button type="submit">Удалить</button>
                </form>
            </div>
        </td>
    </tr>
</table>
</body>
</html>